---
name: actionlint
on:
  push:
    branches:
      - renovate/**
    paths:
      - .github/**
  pull_request:
    branches: [master]
    paths:
      - .github/**
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
      - run: actionlint -ignore "duplicate value"
