---
name: actionlint
on:
  push:
    branches:
      - renovate/**
    paths:
      - .github/**
  pull_request:
    branches: [master]
    paths:
      - .github/**
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.2
      - run: actionlint -ignore "duplicate value"
