---
name: actionlint
on:
  push:
    branches:
      - renovate/**
    paths:
      - .github/**
  pull_request:
    branches: [master]
    paths:
      - .github/**
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
      - run: actionlint -ignore "duplicate value"
