name: renovate-config-validator

on:
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/renovate-config-validator.yaml
      - renovate.json
  push:
    branches:
      - master
      - renovate/**
    paths:
      - .github/workflows/renovate-config-validator.yaml
      - renovate.json

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@c22827f47f4f4a5364bdba19e1fe36907ef1318e # v1.1.1
